<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project-tutorial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="search-container">
        <form action="{{url_for('search')}}" method="get">
            <input type="text" name="query" placeholder="Search..." class="search-input" required>
            <button type="submit" class="search-button" href="{{url_for('search')}}">Search</button>
        </form>
    </div>
    <div class="table_container">
        <table>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <thead>
                <tr>
                    
                    <th>Language Name</th>
                    <th>Developer Name</th>
                    <th>Modification</th>
                </tr>
            </thead>
            <tbody>
                {% for i in items1 %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>
                        <button class="button"><a href="{{ url_for('view_item', _id=i[2]) }}">VIEW</a></button>
                        <button class="Ubutton"><a href="{{ url_for('update_item', _id=i[2]) }}">UPDATE</a></button>
                        <button class="Dbutton"><a href="{{ url_for('delete_item', _id=i[2]) }}">DELETE</a></button>
                    </td>
                </tr>
                
                {% endfor %}
        {% endif %}
            </tbody>
        </table>
        <button class="button"><a href="{{url_for('index')}}">Back To Home</a></button>
        <button class="button"><a href="{{url_for('add_item')}}">ADD ITEM</a></button>
        <button class="button"><a href="{{url_for('item_list')}}">REFRESH</a></button>
        
    </div>
</body>
</html>